In [15]:
number = 82
sample = f"../RESULTS/barcode{number}/PERBASE/barcode{number}_perbase_depth.csv" 
import pandas as pd
df = pd.read_csv(sample)

## Interesting hotspots

In [25]:
POS = 1491
(
    df
    #.loc[lambda x: x.POS == POS]
    #.loc[lambda x: x.snp == 1]
    .loc[lambda x: (x.nt_ratio > 0.3) & (x.nt_ratio < 0.8)]
    .loc[lambda x: x.DEPTH > 60]

)

,POS,DEPTH,A,C,G,T,N,INS,DEL,REF_SKIP,FAIL,max_nt_value,ref,alt,snp,nt_ratio
473,474,2787,813,166,29,1906,0,127,1418,0,0,1906,T,T,0,0.683889
474,475,3887,293,1369,2282,28,0,85,365,0,0,2282,G,G,0,0.587085
475,476,3950,1698,434,157,1739,0,78,315,0,0,1739,T,T,0,0.440253
660,661,5101,25,3769,33,1370,0,96,68,0,0,3769,C,C,0,0.738875
1438,1439,5130,3575,57,1561,9,0,72,304,0,0,3575,G,A,1,0.696881
1758,1759,4593,892,18,3649,47,0,13,448,0,0,3649,G,G,0,0.794470
1799,1800,4597,825,49,3627,122,0,26,352,0,0,3627,G,G,0,0.788993
2492,2493,3935,794,33,3117,3,0,12,86,0,0,3117,G,G,0,0.792122
3393,3394,4414,198,3469,77,722,0,52,40,0,0,3469,C,C,0,0.785908
4311,4312,3313,986,3,2336,9,0,21,94,0,0,2336,G,G,0,0.705101
7366,7367,3323,762,11,2557,20,0,27,270,0,0,2557,G,G,0,0.769485
9601,9602,3184,1819,5,1409,12,0,61,204,0,0,1819,G,A,1,0.571294
9739,9740,2859,1663,10,1227,1,0,42,426,0,0,1663,G,A,1,0.581672

In [134]:
(
    df
    #.loc[lambda x: x.DEPTH > 40]
    #.loc[lambda x: x.ratio < 0.8]
    #.loc[lambda x: x.POS == 10607]
    .loc[lambda x: x.snp == 1]
    #.loc[lambda x: (x.nt_ratio > 0.4) & (x.nt_ratio < 0.7)]
    .loc[lambda x: x.nt_ratio > 0.6]
)

,POS,DEPTH,A,C,G,T,N,INS,DEL,REF_SKIP,FAIL,max_nt_value,ref,alt,snp,nt_ratio
1438,1439,5130,3575,57,1561,9,0,72,304,0,0,3575,G,A,1,0.696881