In [96]:
import pandas as pd
from pathlib import Path
import numpy as np



def wrangle_perbase(perbase: str, ref: str) -> pd.DataFrame:
    ref = Path(ref).read_text().split("\n")[1].upper()
    ALTS = ["A", "C", "G", "T"]
    df = (
        pd.read_csv(perbase, sep="\t")
        .drop(columns=["REF", "NEAR_MAX_DEPTH"])
        .assign(max_nt_value=lambda x: [x.iloc[y, 2:].values.max() for y in range(x.shape[0])])
        .assign(ref=list(ref))
        .assign(alt=lambda x: [ALTS[x.iloc[y, 2:7].values.argmax()] for y in range(x.shape[0])])
        .assign(snp=lambda x: np.select([x.alt != x.ref], [1], default=0))
        .assign(ratio=lambda x: x.max_nt_value / x.DEPTH)
    )
    return df


df = wrangle_perbase("../barcode82.perbase", "../databases/fasta/LANGAT_ebba.fasta")

In [97]:
df

,POS,DEPTH,A,C,G,T,N,INS,DEL,REF_SKIP,FAIL,max_nt_value,ref,alt,snp,ratio
0,1,72,0,72,0,0,0,0,0,0,0,72,C,C,0,1.000000
1,2,77,0,0,0,77,0,0,0,0,0,77,T,T,0,1.000000
2,3,89,89,0,0,0,0,0,0,0,0,89,A,A,0,1.000000
3,4,92,0,2,0,90,0,0,0,0,0,90,T,T,0,0.978261
4,5,97,97,0,0,0,0,0,0,0,0,97,A,A,0,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10673,10674,3,3,0,0,0,0,0,0,0,0,3,A,A,0,1.000000
10674,10675,3,3,0,0,0,0,0,0,0,0,3,A,A,0,1.000000
10675,10676,3,0,3,0,0,0,0,0,0,0,3,C,C,0,1.000000
10676,10677,3,0,0,0,3,0,0,0,0,0,3,T,T,0,1.000000
10677,10678,3,0,0,3,0,0,0,0,0,0,3,G,G,0,1.000000